// Styles for junior_opdracht_3
//mobile version time 2:30 hours

.junior_opdracht_3 {
//colors
  $blue-800: hsl(234, 29%, 20%);
  $blue-700: hsl(235, 18%, 26%);
  $grey: hsl(0, 0%, 58%);
  $white: hsl(0, 0%, 100%);

//margin & padding
  $padding-newsletter: 0rem 2rem;
  $margin-bottom: 2rem;
  $gap: 1.5rem;
  $border-radius: 25px;

//text
  $fs: 18px;
  $fw-400: 400;
  $fw-700: 700;
  $forum-fs: 14px;

//wrapper
  width: 100vw;
  padding: 5rem 0rem ;
  background: $blue-800;

//styling newsletter mobile
  .newsletter{
    display: flex;
    font-size: $fs;
    flex-direction: column;
    justify-content: center;

    gap: $gap;
    background-color: $white;
    border-radius: 25px;

    
    @media (min-width: 1024px) { //dekstop
      flex-direction: row-reverse;
      justify-content: center;
      gap: $gap;
      padding: 1.5rem;
    }
    
    

    &__image{
      width: 100%;
      margin-left: auto;
      img{
        border-radius: $border-radius;
        width: 100%;
      }

      @media (min-width: 1024px) {
        width: 50%;
        margin-left: 0;
      }
    }

    &__content{
      padding: $padding-newsletter;
      display: flex;
      flex-direction: column;
      gap: $gap;
      h1{
        font-size: 2.5em;
        font-weight: bold;
        color: $blue-800;
      }

      p{
        color: $blue-700;
      }

      @media (min-width: 1024px) { //dekstop
        justify-content: center;
      }
    }
 
    &__list{
      ul {
        display: flex;
        flex-direction: column;
        padding: 0rem;
        gap: 0.5rem;
        list-style: none;
      }

      li{
        padding-left: 1em;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          top: .15em;
          width: 1.35rem;
          height: 1.35rem;
          left: calc(-.25em * .5);
          background: url("/images/newsletter/icon-list.svg") no-repeat;          
        }
      }

      p{
        padding-left: 1rem;
      }
    }

    &__form{
      display: flex;
      position: relative;
      flex-direction: column;
      gap: $gap;
      margin-bottom: $margin-bottom;

      button{
        background-color: $blue-700;
        color: $white;
        border: none;
        border-radius: 10px;
        padding: 1rem;
        font-size: 16px;
        font-weight: $fw-700;
        &:hover{
          background-color: hsl(4deg 98% 66%);
          box-shadow: 0px 0px 20px hsl(4, 99%, 71%);
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &__input {
      input{
        border: solid 1px $grey;
        border-radius: 10px;
        width: 100%;
        padding: .5rem 1rem;
        transition: border-color 0.3s ease-in-out;
      }
      p {
        font-size: $forum-fs;
        position: absolute;
        left: $padding-newsletter;
      }
  
      .newsletter_alert {
        position: absolute;
        right: 2rem;
        font-size: $forum-fs;
        color: red;
        display: none; // Verborgen standaard
      }

      &.invalid {
        input {
          border-color: red;
        }
        .newsletter_alert {
          display: block;
        }
      }
    }

    &__input-label {
      display: flex;
      font-size: $forum-fs;
      padding: .5em 0;
    }
  }
}