@use "../abstracts/bootstrap" as *;

$primary-color: var(--primary-color);

.c-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9001;
    background-color: $primary-color;

    &__container {

    }

    &__start {

    }

    &__end {

    }

    &__main {

    }
}